<!DOCTYPE html>
<html style="background-color:inherit;height:100%;" ng-app="ExecActions">

<head>
    <title>Continious delivery actions</title>
    <link rel="stylesheet" href="css/app.css" />

    <script src="sdk/scripts/jquery-3.2.1.js"></script>
    <script src="sdk/scripts/q.js"></script>
    <script src="sdk/scripts/angular_1.3.14.min.js"></script>
    <script src="sdk/scripts/VSS.SDK.js"></script>
    <script src="scripts/BuildsService.js"></script>

</head>

<body style="background-color:inherit;height:100%;">
    <script type="text/javascript">
Array.prototype.unique = function () {
    var n = {}, r = [];
    for (var i = 0; i < this.length; i++) {
        if (!n[this[i]]) {
            n[this[i]] = true;
            r.push(this[i]);
        }
    }
    return r;
}    
        VSS.init({
            explicitNotifyLoaded: true,
            usePlatformScripts: true,
            usePlatformStyles: true
        });
        var app = angular.module('ExecActions', ['ExecActions.services']);
        app.controller("ActionsController", ['$scope', '$http', '$injector', '$interval', function ($scope, $http, $injector, $interval) {
            this.tfsContext = null;
            this.AdminUrl = "";
            this.Templates = [];
            this.cdReportLines = [];
            this.containerNames = [];
            this.containers = {}
            this.containerUserStories = {}
            this.selectedTemplate = null;
            this.isCancelled = false;
            this.ErrorMsg = "";
            this.wiContent = "";
            this.wiType = "";
            this.isLinearManager = false;
            this.workItem = null;
            this.approvedDestination = undefined;
            this.buttonDestinationValue = undefined;

            this.containerLinkIds = [];
            this.currentUser = null;
            this.password = null;

            this.isManager = { Test: false, PreProd: false, Prod: false};

            this.russianDictionary = {
                no: "\u043D\u0435\u0442",//нет
                yes: "\u0434\u0430",//да
                notchecked: "\u043D\u0435 \u043F\u0440\u043E\u0432\u0435\u0440\u0435\u043D\u043E",//не проверено
                forapproved: "\u043D\u0430 \u0441\u043E\u0433\u043B\u0430\u0441\u043E\u0432\u0430\u043D\u0438\u0435",//на согласование
                notapproved: "\u041D\u0435 \u0441\u043E\u0433\u043B\u0430\u0441\u043E\u0432\u0430\u043D\u043E",//Не согласовано
                notrequired: "\u043D\u0435 \u0442\u0440\u0435\u0431\u0443\u0435\u0442\u0441\u044F",//не требуется
                approved: "\u0441\u043E\u0433\u043B\u0430\u0441\u043E\u0432\u0430\u043D\u043E",//согласовано
                approvedwithcondition: "\u0441\u043E\u0433\u043B\u0430\u0441\u043E\u0432\u0430\u043D\u043E \u0441 \u0443\u0441\u043B\u043E\u0432\u0438\u0435\u043C",//согласовано с условием
                required: "\u0442\u0440\u0435\u0431\u0443\u0435\u0442\u0441\u044F",//требуется
            };
            var WitClient = null;

            var ctrl = this;
            this.count = 0;
            var intPromise = null;

            this.stopInterval = function (event, data) {
                $interval.cancel(this.intPromise);
            }

            this.restartInterval = function (event, data) {
                this.cdReportLines = []
                this.intPromise = $interval(
                    function () {
                        ctrl.cdReportLines.push(ctrl.count++)
                        console.log(ctrl.count);
                    }, 1000);
            }

            this.startBuilds = function(workItem, rollback) {
                ctrl=this;
                if(this.password==null || this.password=="") {
                    this.ErrorMsg="Password couldn't be empty";
                    return;
                }
                if(rollback===undefined) rollback=false;
                var builds = [];
                var wiType =workItem.fields["System.WorkItemType"]


                if(wiType=="User Story" || wiType=="Bug Prod") {
                    /*Object.entries(this.containers).forEach(function(entry) { // [system,[containers]]
                        var build = this.BuildsService.getUserStoryBuild(entry[0],rollback ? "rollback" : "install");
                        if(build==undefined) return;
                        build.containerNames = entry[1].filter(function(cnt) {return $scope.selectedConts[cnt]==true})
                        build.url+= encodeURIComponent(build.containerNames.join(";"))
                        if(build.containerNames.length>0) builds.push(build)
                    },this)*/

                    for (var entry in this.containers)
                    {
                        var obj = this.containers[entry];
                        var build = this.BuildsService.getUserStoryBuild(entry,rollback ? "rollback" : "install",this.buttonDestinationValue);
                        if(build==undefined) continue;
                        build.containerNames = obj.filter(function(cnt) {return $scope.selectedConts[cnt]==true});
                        build.url+= encodeURIComponent(build.containerNames.join(";"));
                        if(build.containerNames.length>0) builds.push(build);
                    }       
                }
                else {
                    var wiSystem = workItem.fields["Logrocon.System"]
                    var systemInCD = this.BuildsService.isSystemInCD(wiSystem);
                    if(systemInCD) {
                        var build = this.BuildsService.getTaskBuild(wiSystem,wiType)
                        build.url += "?workItemId="+workItem.id;
                        build.system = wiSystem;
                        build.containerNames=[]
                        builds.push(build);
                    }
                }
                if(builds.length==0) {
                    this.wiContent = "No builds found for that "+wiType
                    return
                }
                var webctx = VSS.getWebContext();
                this.wiContent=''
                builds.forEach(function(build) {
                    var deploySystemParam = ctrl.buttonDestinationValue;
                    var buildParams = {taskId:workItem.id,containerNames: build.containerNames, containerNamesStr : encodeURIComponent(build.containerNames.join(';')), deploySystem: deploySystemParam}
                    var buildHeaders = {}
                    if(build.headers==undefined) build.headers={}
                    //build.headers['Origin']=webctx.host.uri
                    //create token
                    //if(build.token!=undefined && build.token!="") build.headers["Authorization"]="Basic "+build.token
                    var username = ctrl.currentUser.uniqueName.split("\\")[1];
                    var tokenStr = username+":"+ctrl.password;
                    build.headers["Authorization"]="Basic "+btoa(tokenStr);
                    if(build.type=='tfs') {
                        build.buildParams = buildParams;
                        ctrl.logBuild(workItem.id,build);
                        ctrl.processBuild(build);
                        ctrl.cdReportLines.push("build "+build.buildDefinition+" started on TFS")
                    } else {
                        $.ajax({
                            type: "POST",
                            url : build.url,
                            headers: build.headers,
                            data: buildParams,
                            error: function(jqXHR, textStatus, error) {
                                ctrl.logBuild(workItem.id,build,textStatus);
                                ctrl.ErrorMsg=error+" "+textStatus;console.log("client error4:");console.log(error);$scope.$apply()
                            },
                            success: function(data,testStatus,jqXHR) {
                                ctrl.logBuild(workItem.id,build);
                                ctrl.cdReportLines.push("Response: "+testStatus);$scope.$apply()
                            },
                            dataType: 'html'
                        })
                        var logLine = 'build started on jenkins - '+build.url
                        logLine += ', Parameters:' + JSON.stringify(buildParams)
                        ctrl.cdReportLines.push(logLine)
                    }
                })
            }

            this.processBuild = function(build) {
                var ctrl = this;
                 VSS.require(["VSS/WebApi/Constants","VSS/Controls", "VSS/Service", "TFS/Build/RestClient","TFS/Build/Contracts", "VSS/Utils/Html","TFS/WorkItemTracking/RestClient"],
                 function (WebApi_Constants,Controls, VSS_Service, TFS_Build_WebApi, TFS_Build_Contract,TFS_Wit_WebApi) {
                    var client = VSS_Service.VssConnection.getConnection()
                            .getHttpClient(TFS_Build_WebApi.BuildHttpClient, WebApi_Constants.ServiceInstanceTypes.TFS);
                     var buildClient = VSS_Service.getCollectionClient(TFS_Build_WebApi.BuildHttpClient);
                     var config = VSS.getConfiguration();
                     var project = VSS.getWebContext().project
                     var projId =project.id;

                     //var deploy = "buildDefinition" + ctrl.approvedDestination;
                    
                     buildClient.getDefinitions(projId,build.buildDefinition).then(function(buildDefs) {
                        if(buildDefs.length==0) {
                            console.log("No build definitions found for name:"+build.buildDefinition);
                            ctrl.ErrorMsg = 'Build definition '+build.buildDefinition+'  not found <br/>'
                            $scope.$apply()
                            return;
                        }


                        var bdId = buildDefs[0].id;

                        var qb = {
                            definition : {id: bdId},
                            parameters : JSON.stringify(build).replace("\"","\\\"")
                        }
                        buildClient.queueBuild(qb,projId,true).then(function(outbuild) {
                            var buildId = outbuild.id
                            var buildName =outbuild.definition.name;
                            ctrl.wiContent = 'Build started <br/> name: '+buildName+' <br/> id: '+buildId
                            $scope.$apply()
                        },function(error) {ErrorMsg=error.message;console.log("client error3:");console.log(error);$scope.$apply()})
                     },function(error) {ErrorMsg=error.message;console.log("client error2:");console.log(error);$scope.$apply()})
                },function(error) {ErrorMsg=error.message;console.log("client error:");console.log(error);$scope.$apply()})
            }
            this.startTaskBuild = function() {
                this.startBuilds(this.workItem);
            }
            this.logBuild = function(workItemId,build,errorText) {
                var system = build.system != undefined ? build.system : "containers "+build.containerNames.join(",");
                var patchDoc = [{
                    op : "add",
                    path : "/fields/System.History",
                    value: errorText === undefined ? `started build for ${system}` : `failed to start build for ${system}, error: ${errorText}`
                }]
                ctrl.WitClient.updateWorkItem(patchDoc,workItemId,false)
                .then(function(wit) {console.log("History updated")},function(error) {console.log(error)});
            }

            this.deployWorkItem =function (event,data) {
                this.startBuilds(this.workItem,false);
                //buttonDestinationValue = undefined;
                $("#buttonsPlaceHolder").hide('fast');
                $("#systemButtonsPlaceHolder :input").prop('disabled', true);
                $("#containersList :input").prop('disabled', true);
            }
            
            this.revertDeployWorkItem = function(event,data) {
                this.startBuilds(this.workItem,true);
                //buttonDestinationValue = undefined;
                $("#buttonsPlaceHolder").hide('fast');
                $("#systemButtonsPlaceHolder :input").prop('disabled', true);
                $("#containersList :input").prop('disabled', true);
            }

            this.setSystem = function (event,data) {
                if (ctrl.buttonDestinationValue == data) 
                    ctrl.buttonDestinationValue = undefined
                else
                    ctrl.buttonDestinationValue = data;
                ctrl.changesOnButtonClick(ctrl.buttonDestinationValue);
            }

            this.changesOnButtonClick = function(destinationName)
            {
                var blueColorStyle = {'background-color' : '#00B4E3', 'color' : '#FFFFFF'};
                if (destinationName == "Test") $("#TestDestination").css({'background-color' : '#00B4E3', 'color' : '#FFFFFF'}); 
                    else $("#TestDestination").css({'background-color':'', 'color' : ''});
                if (destinationName == "PreProd") $("#PreProdDestination").css({'background-color' : '#00B4E3', 'color' : '#FFFFFF'});
                    else $("#PreProdDestination").css({'background-color':'', 'color' : ''});
                if (destinationName == "Prod") $("#ProdDestination").css({'background-color' : '#00B4E3', 'color' : '#FFFFFF'});
                    else $("#ProdDestination").css({'background-color':'', 'color' : ''});
                if (destinationName == undefined)
                {
                    $("#TestDestination").css({'background-color':'', 'color' : ''});
                    $("#PreProdDestination").css({'background-color':'', 'color' : ''});
                    $("#ProdDestination").css({'background-color':'', 'color' : ''});
                }
            }

            this.checkApproveStates = function (usWorkItem) {
                var approveDevelopment = usWorkItem.fields["Logrocon.ApproveDevelopment"].toLowerCase();
                var test = usWorkItem.fields["Logrocon.ApproveDevelopment"].toLowerCase();
                var approveSecurity = usWorkItem.fields["Logrocon.Security"].toLowerCase();
                var approveTesting = usWorkItem.fields["Logrocon.ApproveTesting"].toLowerCase();
                var approveSupport = usWorkItem.fields["Logrocon.ApproveSupport"].toLowerCase();
                var usState = usWorkItem.fields["System.State"].toLowerCase();
                var usApproveDevelopment = usWorkItem.fields["Logrocon.ApproveDevelopment"].toLowerCase();
                
                var approveFor = undefined;//undefined System

                if (usApproveDevelopment == ctrl.russianDictionary.yes)
                {
                    if (usState == "development")
                    {
                        //ctrl.approvedDestination = "Test";
                        approveFor = "Test";//'Test' System
                    } 
                    else if (usState == "ready for release" 
                    && approveTesting == ctrl.russianDictionary.yes)
                    {
                        //ctrl.approvedDestination = "PreProd";
                        approveFor = "PreProd";//'PreProd' System
                        if (approveSupport == ctrl.russianDictionary.yes
                        && (approveSecurity == ctrl.russianDictionary.approved 
                        || approveSecurity == ctrl.russianDictionary.approvedwithcondition
                        || approveSecurity == ctrl.russianDictionary.notrequired))

                        {
                            approveFor = "Prod";//'Prod' System
                        }
                    }
                }
                return approveFor;
            }

            this.checkLinearManager = function(workItem) {
                var deferred = $.Deferred();
                ctrl.isManager = { Test: false, PreProd: false, Prod: false};
                VSS.require(["TFS/Core/RestClient"], function(_RestClient) {
                    var client = _RestClient.getClient();
                    var tfsContext = ctrl.tfsContext.TfsContext.getDefault();
                    var wiTeamAreas = workItem.fields["System.AreaPath"].split("\\");
                    var teamName = wiTeamAreas[wiTeamAreas.length-1];
                    //get WI team members
                    client.getTeams(tfsContext.contextData.project.id).then(function (teams) {
                        var wiTeam = teams.filter(function(t) {return t.name==teamName})[0];
                        client.getTeamMembers(tfsContext.contextData.project.id,wiTeam.id).then(function(tm) {
                            if(tm.filter(function(m) {return m.id==tfsContext.currentIdentity.id}).length==0)
                                return; //return if nonmember press on the button;
                            //check for each environment
                            envQueueLen = 3;
                            ["Test","PreProd","Prod"].forEach(function(env) {
                                var managerArray = ctrl.BuildsService.getManagers(env);
                                var adminTeams = teams.filter(function (t) {return managerArray.indexOf(t.name)!=-1})
                                if(adminTeams.length==0) {
                                    envQueueLen--;
                                    return;
                                }
                                var queleLen = adminTeams.length;
                                for (var fTeam in adminTeams) {
                                    if (adminTeams[fTeam] == undefined || fTeam == "unique")
                                        continue;
                                    client.getTeamMembers(tfsContext.contextData.project.id, adminTeams[fTeam].id).then(function (members) {
                                        queleLen--;
                                        if (members.filter(function (x) {return x.id == tfsContext.currentIdentity.id}).length > 0) {
                                            ctrl.isManager[env]=true;
                                        }
                                    })
                                }
                                let waitManagersComplete = function() {
                                    if(queleLen==0) envQueueLen--;
                                    else {
                                        console.log("waiting to load all admins");
                                        setTimeout(waitManagersComplete,1000);
                                    }
                                }
                                waitManagersComplete();
                            })
                            let waitEnvComplete = function() {
                                if(envQueueLen==0) deferred.resolve();
                                else {
                                    console.log("Wait for all environments complete");
                                    setTimeout(waitEnvComplete,1000);
                                }
                            }
                            waitEnvComplete();
                        })
                    })
                })
                return deferred.promise();
            }
            VSS.ready(function () {
                ctrl.BuildsService = $injector.get("BuildsConfigurationService");
                ctrl.BuildsService.init().then(function() {
                VSS.require(["VSS/WebApi/Constants", "VSS/Service", "TFS/TestManagement/RestClient", "VSS/Utils/Date", "VSS/Utils/String", "TFS/WorkItemTracking/RestClient", 
                             "TFS/WorkItemTracking/Contracts", "TFS/TestManagement/Contracts","TFS/Build/RestClient","TFS/Build/Contracts", "Presentation/Scripts/TFS/TFS.Host.TfsContext"],
                    function (WebApi_Constants, Service, RestClient, UtilsDate, UtilsString, TFS_Wit_WebApi, _TFS_Wit_Contract, _TestContracts,TFS_Build_WebApi,TFS_Build_Contract,_tfsContext) {
                        TFS_Wit_Contract = _TFS_Wit_Contract;
                        TestContracts = _TestContracts;
                        Utils_Date = UtilsDate;
                        Utils_String = UtilsString;
                        // Get an instance of the client
                        var client = Service.VssConnection.getConnection()
                            .getHttpClient(RestClient.TestHttpClient, WebApi_Constants.ServiceInstanceTypes.TFS);
                        var witClient = Service.getCollectionClient(TFS_Wit_WebApi.WorkItemTrackingHttpClient);
                        var config = VSS.getConfiguration();
                        ctrl.tfsContext = _tfsContext;
                        ctrl.VssService = Service;
                        ctrl.BuildClient = Service.getCollectionClient(TFS_Build_WebApi.BuildHttpClient);
                        ctrl.WitClient = witClient;
                        ctrl.currentUser = VSS.getWebContext().user;

                        witClient.getWorkItem(config.properties.workItemId,null,null,"All").then(function (workItem) {
                            console.log("workItem")
                            console.log(workItem)
                            ctrl.workItem =workItem;
                            ctrl.wiType = workItem.fields["System.WorkItemType"];
                            var usWorkItem = workItem;
                            var currentRelease = workItem.fields["Logrocon.Release"];
                            if(ctrl.wiType=='Task') {
                                //ctrl.startBuilds(workItem); //now task started after authorization
                                VSS.notifyLoadSucceeded();
                                $scope.$apply();
                            }
                            else {
                                //load userstory links to tasks
                                var linksIds = workItem.relations.filter(function(link) {return link.rel == 'System.LinkTypes.Hierarchy-Forward'})
                                                .map(function(link) { return link.url.split("/").pop() })
                                                .map(function(strid) {return parseInt(strid)})
                                                .unique();
                                ctrl.containerLinkIds = [];
                                witClient.getWorkItems(linksIds, undefined, null, "All")
                                .then(function(taskList) {

                                    taskList.forEach(function(t) {
                                        /*var approveDevelopment = t.fields["Logrocon.ApproveDevelopment"];
                                        var test = t.fields["Logrocon.ApproveDevelopment"];
                                        var approveSecurity = t.fields["Logrocon.Security"];
                                        var approveTesting = t.fields["Logrocon.ApproveTesting"];
                                        var approveSupport = t.fields["Logrocon.ApproveSupport"];
                                        var usState = usWorkItem.fields["System.State"];
                                        var activity = t.fields["Microsoft.VSTS.Common.Activity"];*/


                                        var approve = t.fields["Logrocon.CDCIApprovement"];
                                        var activity = t.fields["Microsoft.VSTS.Common.Activity"] == "Development";

                                        var taskFlag = false;
                                        if (activity && approve != null && approve.toLowerCase() == ctrl.russianDictionary.yes)
                                            taskFlag = true;
                                            

                                        var ids = t.relations
                                            .filter(function(link) {return link.rel == 'Microsoft.VSTS.TestCase.SharedParameterReferencedBy-Forward'})
                                            .map(function(link) { return link.url.split("/").pop() })
                                            .map(function(strid) {return parseInt(strid)});


                                        for (var i in ids)
                                        {
                                            var taskId = ids[i];
                                            if (taskId == undefined || i == "unique")
                                                continue;
                                            if (ctrl.containerLinkIds[taskId] == undefined)
                                                ctrl.containerLinkIds[taskId] = false;
                                            ctrl.containerLinkIds[taskId] = ctrl.containerLinkIds[taskId] == true ? true : taskFlag;
                                        }
                                        //containerLinkIds = containerLinkIds.concat(ids);
                                    });

                                    ctrl.approvedDestination = ctrl.checkApproveStates(usWorkItem);
                                    var uniqName = ctrl.tfsContext.TfsContext.getDefault().currentIdentity.uniqueName;
                                    //Check Permissions
                                    ctrl.checkLinearManager(usWorkItem).then(function() {
                                        //containerLinkIds = containerLinkIds.unique();
                                        witClient.getWorkItems(Object.keys(ctrl.containerLinkIds),undefined,null,"All")
                                        .then(function(reltaskList) {
                                            var containerTasks = reltaskList
                                                                    .filter(function(rt) {return rt.fields['System.WorkItemType']=="Container"})
                                            //map container names to system names
                                            ctrl.containers={}
                                            containerTasks.forEach(function(ct) {
                                                var sysName = ct.fields['Logrocon.System']
                                                if(ctrl.containers[sysName]==null) ctrl.containers[sysName]=[]
                                                ctrl.containers[sysName].push(ct.fields['System.Title'])
                                            })
                                            //ctrl.containerNames =containerTasks.map(function(rt) {return rt.fields['System.Title']})

                                            for (var i in containerTasks)
                                            {
                                                var containerTask = containerTasks[i];
                                                if (containerTask == undefined || i == "unique")
                                                    continue;
                                                var containerId = containerTasks[i].fields['System.Id'];
                                                var containerTitle = containerTasks[i].fields['System.Title'];
                                                var containerObject = { "title":containerTitle,
                                                                        "taskPassed":ctrl.containerLinkIds[containerId] }
                                                ctrl.containerNames.push(containerObject);
                                            }

                                            ctrl.containerNames.forEach(function(elem) {
                                                $scope.selectedConts[elem.title]=false
                                            })
                                            ctrl.findContainersUserStory(witClient,containerTasks,currentRelease);
                                            VSS.notifyLoadSucceeded();
                                            $scope.$apply();
                                        },ctrl.reportError)
                                    });
                                },ctrl.reportError)
                                $("#buttonsPlaceHolder").show('fast');
                            }
                        });
                    });
                })                    
            });

            this.stringsEqual = function(str1, str2)
            {
                var string1 = String(str1);
                var string2 = String(str2);
                for (var i = 0; i < string1.length; i++)
                {
                    if (string1.charCodeAt(i) != string2.charCodeAt(i))
                        return false;
                }
                return true;
            }

            this.reportError = function(error) {
                this.ErrorMsg = error.message;
                VSS.notifyLoadSucceeded();
                $scope.$apply();
            }

            this.findContainersUserStory = function(witClient,containers,currentRelease) {
                //find tasks
                var ctrl = this;
                ctrl.containerUserStories = {}
                containers.forEach(function(container) {
                    var contTasks = container.relations.filter(function(link) {return link.rel == 'Microsoft.VSTS.TestCase.SharedParameterReferencedBy-Reverse'})
                                    .map(function(link) { return link.url.split("/").pop() })
                                    .map(function(strid) {return parseInt(strid)})
                                    .unique();
                    witClient.getWorkItems(contTasks,undefined, null, "All").then(function(tasks) {
                    var userStoryIds = []
                    tasks.forEach(function(task){
                        var taskUs = task.relations.filter(function(link) {return link.rel == 'System.LinkTypes.Hierarchy-Reverse'})
                                    .map(function(link) { return link.url.split("/").pop() })
                                    .map(function(strid) {return parseInt(strid)})
                                    .unique();
                            witClient.getWorkItems(taskUs,undefined, null, "All").then(function(in_userstories) {
                                var userstories = in_userstories
                                                .filter(function(us) {return us.fields["Logrocon.Release"]==currentRelease});
                                var usarray = ctrl.containerUserStories[container.fields['System.Title']]
                                if(usarray === undefined) 
                                    usarray=[];
                                usarray = usarray.concat(userstories);
                                ctrl.containerUserStories[container.fields['System.Title']]=usarray;
                                $scope.$apply();
                            },ctrl.reportError);
                        }, ctrl.reportError);                    
                    },ctrl.reportError);
                })
            }

            this.StartLoading = function (longRunning, message) {
                $("body").css("cursor", "progress");
                if (longRunning) {
                    if (ctrl.waitControl == null) {
                        var waitControlOptions = {
                            target: $(".wait-control-target"),
                            message: message,
                            cancellable: true,
                            cancelTextFormat: "{0} to cancel",
                            cancelCallback: function () {
                                console.log("cancelled");
                            }
                        };

                        VSS.require(["VSS/Controls/StatusIndicator", "VSS/Controls"], function (StatusIndicator, Controls) {
                            ctrl.waitControl = Controls.create(StatusIndicator.WaitControl, $("#previewHTML"), waitControlOptions);
                            ctrl.waitControl.startWait();
                        });
                    }
                    else {
                        ctrl.waitControl.setMessage(message);
                        ctrl.waitControl.startWait();
                    }
                }

            }

            this.DoneLoading = function () {
                $("body").css("cursor", "default");

                if (ctrl.waitControl != null) {
                    ctrl.waitControl.endWait();
                }

            }

            this.ProgressUpdate = function (message) {
                if (ctrl.waitControl != null) {
                    ctrl.waitControl.setMessage(message);
                    return !ctrl.waitControl.isCancelled();
                }
                else {
                    return true;
                }
            }
            $scope.selectedConts =[]
            /*
            $scope.toggleContainerSelection = function(contName) {
                var filtered = $scope.selectedConts.filter(function(elem) {return elem!=contName})

            }
            */
        }]);
    </script>

    <div ng-controller="ActionsController as ctrl" style="display:flex; flex-direction:column;height:100%;">
        <div class="message-area-control closeable error-message" style="max-height:80px; overflow-x:hidden; overflow-y:auto;" ng-show="ctrl.ErrorMsg!=''">{{ctrl.ErrorMsg}}</div>
        <div id="mainDiv" style="display:flex; flex-direction:column;height:80%;visibility:visible;">

            <div id="authDiv" style="width:50%;align-self:flex-start">
                <div style="display:flex; flex-direction: row;justify-content: space-between">
                    <span>Username:</span><span>{{ctrl.currentUser.uniqueName}}</span>
                </div>
                <div style="display:flex; flex-direction: row;justify-content: space-between">
                    <span>Password:</span><input type="password" ng-model="ctrl.password">
                </div>
                <button ng-if="ctrl.wiType=='Task'" ng-click="ctrl.startTaskBuild()">Start build</button>
            </div>
            <ul ng-if="ctrl.wiType=='User Story' || ctrl.wiType=='Bug Prod'">
                <div id="systemButtonsPlaceHolder">
                    <button id="TestDestination" ng-disabled="!(ctrl.approvedDestination=='Test' && ctrl.isManager['Test'])" ng-click="ctrl.setSystem(null, 'Test')">Test</button>
                    <button id="PreProdDestination" ng-disabled="!(ctrl.approvedDestination=='PreProd' && ctrl.isManager['PreProd'])" ng-click="ctrl.setSystem(null, 'PreProd')">PreProd</button>
                    <button id="ProdDestination" ng-disabled="!(ctrl.approvedDestination=='Prod' && ctrl.isManager['Prod'])" ng-click="ctrl.setSystem(null, 'Prod')">Prod</button>
                </div>
            </ul>
            <div ng-if="ctrl.wiType=='User Story' || ctrl.wiType=='Bug Prod'" id="containersList" style="overflow:scroll; height: 100%;">
                <ul>
                    <li ng-repeat="contName in ctrl.containerNames">
                        <input type="checkbox" name="selectedContainers[]"
                        ng-model="selectedConts[contName.title]" ng-disabled="ctrl.buttonDestinationValue=='' || ctrl.buttonDestinationValue==undefined || !contName.taskPassed"/>{{contName.title}}
                        <div style="position: relative; left: 200px; top: -10px;">
                            <ul>
                                <li ng-repeat="userstory in ctrl.containerUserStories[contName.title]">
                                        <a target="_blank" href="{{userstory._links.html.href}}">{{userstory.id}}</a> {{userstory.fields["System.Title"]}}
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="message-area-control" ng-show="ctrl.wiContent!=''">
                {{ctrl.wiContent}}
            </div>
            <div class="message-area-control" ng-show="ctrl.cdReportLines.length>0">
                Started builds: 
                <ul>
                    <li ng-repeat="line in ctrl.cdReportLines">
                        {{line}}
                    </li>
                </ul>
            </div>
        </div>         
        <div id="footer" style="width:100%;text-align:right;height:20px;">
            <hr/>
            <div id="buttonsPlaceHolder" style="display:none">
                <button ng-disabled="ctrl.buttonDestinationValue==undefined" ng-click="ctrl.deployWorkItem()">Deploy</button>
                <button ng-disabled="ctrl.buttonDestinationValue==undefined" ng-click="ctrl.revertDeployWorkItem()">Revert deploy</button>
            </div>
        </div>
        <div class="wait-control-target"></div>
    </div>
</body>