<!DOCTYPE html>
<html style="background-color:inherit;height:100%;" ng-app="ExecActions">

<head>
    <title>Continious delivery actions</title>
    <link rel="stylesheet" href="css/app.css" />


    <script src="sdk/scripts/jquery_2.1.4.min.js"></script>
    <script src="sdk/scripts/q.js"></script>
    <script src="sdk/scripts/angular_1.3.14.min.js"></script>
    <script src="sdk/scripts/jquery_2.1.4.min.js"></script>

    <script src="sdk/scripts/VSS.SDK.js"></script>

    <script src="scripts/BuildsService.js"></script>

</head>

<body style="background-color:inherit;height:100%;">
    <script type="text/javascript">
Array.prototype.unique = function () {
    var n = {}, r = [];
    for (var i = 0; i < this.length; i++) {
        if (!n[this[i]]) {
            n[this[i]] = true;
            r.push(this[i]);
        }
    }
    return r;
}    
        VSS.init({
            explicitNotifyLoaded: true,
            usePlatformScripts: true,
            usePlatformStyles: true
        });
        var app = angular.module('ExecActions', ['ExecActions.services']);
        app.controller("ActionsController", ['$scope', '$http', '$injector', '$interval', function ($scope, $http, $injector, $interval) {
            this.AdminUrl = "";
            this.Templates = [];
            this.cdReportLines = [];
            this.containerNames = [];
            this.containers = {}
            this.selectedTemplate = null;
            this.isCancelled = false;
            this.ErrorMsg = "";
            this.wiContent = "";
            this.workItem = null;

            var ctrl = this;
            this.count = 0;
            var intPromise = null;

            this.stopInterval = function (event, data) {
                $interval.cancel(this.intPromise);
            }

            this.restartInterval = function (event, data) {
                this.cdReportLines = []
                this.intPromise = $interval(
                    function () {
                        ctrl.cdReportLines.push(ctrl.count++)
                        console.log(ctrl.count);
                    }, 1000);
            }

            this.startBuilds = function(workItem, rollback) {
                ctrl=this;
                if(rollback===undefined) rollback=false;
                var builds = [];
                var wiType =workItem.fields["System.WorkItemType"]

                if(wiType=="User Story") {
                    Object.entries(this.containers).forEach(function(entry) { // [system,[containers]]
                        var build = this.BuildsService.getUserStoryBuild(entry[0],rollback ? "rollback" : "install");
                        if(build==undefined) return;
                        build.url+= "?adapters="+encodeURIComponent(entry[1].join(";"))
                        builds.push(build)
                    },this)
                    
                }
                else {
                    var wiSystem = workItem.fields["Logrocon.System"]
                    var systemInCD = this.BuildsService.isSystemInCD(wiSystem);
                    if(systemInCD) {
                        var build = this.BuildsService.getTaskBuild(wiSystem,wiType)
                        build.url += "?workItemId="+workItem.id;
                        builds.push(build);
                    }
                }
                if(builds.length==0) {
                    this.wiContent = "No builds found for that "+wiType
                    return
                }
                this.wiContent=''
                builds.forEach(function(build) {
                    var buildParams = {taskId:workItem.id,containers: ctrl.containerNames}
                    var buildHeaders = {"Authorization":"Basic "+build.token}
                    if(build.type=='tfs') {
                        build.buildParams =buildParams;
                        ctrl.processBuild(build);
                        ctrl.cdReportLines.push("build "+build.buildDefinition+" started on TFS")
                    } else {
                        $.ajax({
                            type: "POST",
                            url : build.url,
                            headers: build.headers,
                            data: buildParams,
                            fail: function(jqXHR, textStatus, error) {ctrl.ErrorMsg=error+" "+textStatus;console.log("client error4:");console.log(error);$scope.$apply()},
                            dataType: 'json'
                        })
                        var logLine = 'build started on jenkins - '+build.url
                        logLine += ', Parameters:' + JSON.stringify(buildParams)
                        ctrl.cdReportLines.push(logLine)
                    }
                })
            }

            this.processBuild = function(build) {
                var ctrl = this;
                 VSS.require(["VSS/WebApi/Constants","VSS/Controls", "VSS/Service", "TFS/Build/RestClient","TFS/Build/Contracts", "VSS/Utils/Html","TFS/WorkItemTracking/RestClient"],
                 function (WebApi_Constants,Controls, VSS_Service, TFS_Build_WebApi, TFS_Build_Contract,TFS_Wit_WebApi) {
                    var client = VSS_Service.VssConnection.getConnection()
                            .getHttpClient(TFS_Build_WebApi.BuildHttpClient, WebApi_Constants.ServiceInstanceTypes.TFS);
                     var buildClient = VSS_Service.getCollectionClient(TFS_Build_WebApi.BuildHttpClient);
                     var config = VSS.getConfiguration();
                     var project = VSS.getWebContext().project
                     var projId =project.id;
                    
                     buildClient.getDefinitions(projId,build.buildDefinition).then(function(buildDefs) {
                        if(buildDefs.length==0) {
                            console.log("No build definitions found for name:"+build.buildDefinition);
                            ctrl.ErrorMsg = `Build definition '${build.buildDefinition}'  not found <br/>`
                            $scope.$apply()
                            return;
                        }
                        var bdId = buildDefs[0].id;
                        var qb = {
                            definition : {id: bdId},
                            parameters : JSON.stringify(build).replace("\"","\\\"")
                        }
                        buildClient.queueBuild(qb,projId,true).then(function(outbuild) {
                            var buildId = outbuild.id
                            var buildName =outbuild.definition.name;
                            ctrl.wiContent = `Build started <br/> name: ${buildName} <br/> id: ${buildId}`
                            $scope.$apply()
                        },function(error) {ErrorMsg=error.message;console.log("client error3:");console.log(error);$scope.$apply()})
                     },function(error) {ErrorMsg=error.message;console.log("client error2:");console.log(error);$scope.$apply()})
                },function(error) {ErrorMsg=error.message;console.log("client error:");console.log(error);$scope.$apply()})
            }

            this.deployWorkItem =function (event,data) {
                this.startBuilds(this.workItem,false);
                $("#buttonsPlaceHolder").hide('fast');
            }
            
            this.revertDeployWorkItem = function(event,data) {
                this.startBuilds(this.workItem,true);
                $("#buttonsPlaceHolder").hide('fast');
            }

            VSS.ready(function () {
                ctrl.BuildsService = $injector.get("BuildsConfigurationService");
                ctrl.BuildsService.init().then(function() {
                VSS.require(["VSS/WebApi/Constants", "VSS/Service", "TFS/TestManagement/RestClient", "VSS/Utils/Date", "VSS/Utils/String", "TFS/WorkItemTracking/RestClient", 
                             "TFS/WorkItemTracking/Contracts", "TFS/TestManagement/Contracts","TFS/Build/RestClient","TFS/Build/Contracts"],
                    function (WebApi_Constants, Service, RestClient, UtilsDate, UtilsString, TFS_Wit_WebApi, _TFS_Wit_Contract, _TestContracts,TFS_Build_WebApi,TFS_Build_Contract) {
                        TFS_Wit_Contract = _TFS_Wit_Contract;
                        TestContracts = _TestContracts;
                        Utils_Date = UtilsDate;
                        Utils_String = UtilsString;
                        // Get an instance of the client
                        var client = Service.VssConnection.getConnection()
                            .getHttpClient(RestClient.TestHttpClient, WebApi_Constants.ServiceInstanceTypes.TFS);
                        var witClient = Service.getCollectionClient(TFS_Wit_WebApi.WorkItemTrackingHttpClient);
                        var config = VSS.getConfiguration();
                        ctrl.VssService = Service;
                        ctrl.BuildClient = Service.getCollectionClient(TFS_Build_WebApi.BuildHttpClient);

                        witClient.getWorkItem(config.properties.workItemId,null,null,"All").then(function (workItem) {
                            console.log("workItem")
                            console.log(workItem)
                            ctrl.workItem =workItem;
                            if(workItem.fields["System.WorkItemType"]=='Task') {
                                ctrl.startBuilds(workItem);
                                VSS.notifyLoadSucceeded();
                                $scope.$apply();
                            }
                            else {
                                //load userstory links to tasks
                                var linksIds = workItem.relations.filter(function(link) {return link.rel == 'System.LinkTypes.Hierarchy-Forward'})
                                                .map(function(link) { return link.url.split("/").pop() })
                                                .map(function(strid) {return Number.parseInt(strid)})
                                                .unique();
                                witClient.getWorkItems(linksIds, undefined, null, "All")
                                .then(function(taskList) {
                                    var containerLinkIds = [];
                                    taskList.forEach(function(t) { 
                                        var ids = t.relations
                                            .filter(function(link) {return link.rel == 'Microsoft.VSTS.TestCase.SharedParameterReferencedBy-Forward'})
                                            .map(function(link) { return link.url.split("/").pop() })
                                            .map(function(strid) {return Number.parseInt(strid)});
                                        containerLinkIds = containerLinkIds.concat(ids);
                                    });
                                    containerLinkIds = containerLinkIds.unique();
                                    witClient.getWorkItems(containerLinkIds,undefined,null,"All")
                                    .then(function(reltaskList) {
                                        var containerTasks = reltaskList.filter(function(rt) {
                                            return rt.fields['System.Title'].startsWith("container")
                                        });
                                        //map container names to system names
                                        ctrl.containers={}
                                        containerTasks.forEach(function(ct) {
                                            var sysName = ct.fields['Logrocon.System']
                                            if(ctrl.containers[sysName]==null) ctrl.containers[sysName]=[]
                                            ctrl.containers[sysName].push(ct.fields['System.Title'])
                                        })
                                        ctrl.containerNames =containerTasks.map(function(rt) {return rt.fields['System.Title']})
                                        
                                        VSS.notifyLoadSucceeded();
                                        $scope.$apply();
                                    },function(error) {
                                        ErrorMsg = error.message;
                                        VSS.notifyLoadSucceeded();
                                        $scope.$apply();
                                    })
                                },function(error) {
                                        ErrorMsg = error.message;
                                        VSS.notifyLoadSucceeded();
                                        $scope.$apply();
                                })
                                $("#buttonsPlaceHolder").show('fast');
                            }
                        });
                    });
                })                    
            });
            this.StartLoading = function (longRunning, message) {
                $("body").css("cursor", "progress");
                if (longRunning) {
                    if (ctrl.waitControl == null) {
                        var waitControlOptions = {
                            target: $(".wait-control-target"),
                            message: message,
                            cancellable: true,
                            cancelTextFormat: "{0} to cancel",
                            cancelCallback: function () {
                                console.log("cancelled");
                            }
                        };

                        VSS.require(["VSS/Controls/StatusIndicator", "VSS/Controls"], function (StatusIndicator, Controls) {
                            ctrl.waitControl = Controls.create(StatusIndicator.WaitControl, $("#previewHTML"), waitControlOptions);
                            ctrl.waitControl.startWait();
                        });
                    }
                    else {
                        ctrl.waitControl.setMessage(message);
                        ctrl.waitControl.startWait();
                    }
                }

            }

            this.DoneLoading = function () {
                $("body").css("cursor", "default");

                if (ctrl.waitControl != null) {
                    ctrl.waitControl.endWait();
                }

            }

            this.ProgressUpdate = function (message) {
                if (ctrl.waitControl != null) {
                    ctrl.waitControl.setMessage(message);
                    return !ctrl.waitControl.isCancelled();
                }
                else {
                    return true;
                }
            }
        }]);
    </script>

    <div ng-controller="ActionsController as ctrl" style="display:flex; flex-direction:column;height:100%;">
        <div class="message-area-control closeable error-message" style="max-height:80px; overflow-x:hidden; overflow-y:auto;" ng-show="ctrl.ErrorMsg!=''">{{ctrl.ErrorMsg}}</div>
        <div id="mainDiv" style="display:flex; flex-direction:column;height:80%;visibility:visible;">
            <ul>
                <li ng-repeat="line in ctrl.containerNames">
                    {{line}}
                </li>
            </ul>
            <div class="message-area-control" ng-show="ctrl.wiContent!=''">
                {{ctrl.wiContent}}
            </div>
            <div class="message-area-control" ng-show="ctrl.cdReportLines.length>0">
                Started builds: 
                <ul>
                    <li ng-repeat="line in ctrl.cdReportLines">
                        {{line}}
                    </li>
                </ul>
            </div>
        </div>            
        <div id="footer" style="width:100%;text-align:right;height:20px;">
            <hr/>
            <div id="buttonsPlaceHolder" style="display:none">
                <button ng-click="ctrl.deployWorkItem()">Deploy user story</button>
                <button ng-click="ctrl.revertDeployWorkItem()">Revert deploy user story</button>
            </div>            
        </div>
        <div class="wait-control-target"></div>
    </div>
</body>